<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.job.mapper.JmrRyStudentMatchResultMapper">
    
    <resultMap type="JmrRyStudentMatchResult" id="JmrRyStudentMatchResultResult">
        <result property="smrId"    column="smr_id"    />
        <result property="smrCId"    column="smr_c_id"    />
        <result property="smrJId"    column="smr_j_id"    />
        <result property="smrSId"    column="smr_s_id"    />
        <result property="smrRId"    column="smr_r_id"    />
        <result property="smrBId"    column="smr_b_id"    />
        <result property="smrValue"    column="smr_value"    />
    </resultMap>

    <sql id="selectJmrRyStudentMatchResultVo">
        select smr_id, smr_c_id, smr_j_id, smr_s_id, smr_r_id, smr_b_id, smr_value from jmr_student_match_result
    </sql>

    <select id="selectJmrRyStudentMatchResultList" parameterType="JmrRyStudentMatchResult" resultMap="JmrRyStudentMatchResultResult">
        <include refid="selectJmrRyStudentMatchResultVo"/>
        <where>  
            <if test="smrId != null "> and smr_id = #{smrId}</if>
            <if test="smrCId != null "> and smr_c_id = #{smrCId}</if>
            <if test="smrJId != null "> and smr_j_id = #{smrJId}</if>
            <if test="smrSId != null "> and smr_s_id = #{smrSId}</if>
            <if test="smrRId != null "> and smr_r_id = #{smrRId}</if>
            <if test="smrBId != null "> and smr_b_id = #{smrBId}</if>
            <if test="smrValue != null "> and smr_value = #{smrValue}</if>
        </where>
    </select>
    
    <select id="selectJmrRyStudentMatchResultById" parameterType="Long" resultMap="JmrRyStudentMatchResultResult">
        <include refid="selectJmrRyStudentMatchResultVo"/>
        where smr_id = #{smrId}
    </select>
        
    <insert id="insertJmrRyStudentMatchResult" parameterType="JmrRyStudentMatchResult" useGeneratedKeys="true" keyProperty="smrId">
        insert into jmr_student_match_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="smrCId != null">smr_c_id,</if>
            <if test="smrJId != null">smr_j_id,</if>
            <if test="smrSId != null">smr_s_id,</if>
            <if test="smrRId != null">smr_r_id,</if>
            <if test="smrBId != null">smr_b_id,</if>
            <if test="smrValue != null">smr_value,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="smrCId != null">#{smrCId},</if>
            <if test="smrJId != null">#{smrJId},</if>
            <if test="smrSId != null">#{smrSId},</if>
            <if test="smrRId != null">#{smrRId},</if>
            <if test="smrBId != null">#{smrBId},</if>
            <if test="smrValue != null">#{smrValue},</if>
         </trim>
    </insert>

    <update id="updateJmrRyStudentMatchResult" parameterType="JmrRyStudentMatchResult">
        update jmr_student_match_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="smrCId != null">smr_c_id = #{smrCId},</if>
            <if test="smrJId != null">smr_j_id = #{smrJId},</if>
            <if test="smrSId != null">smr_s_id = #{smrSId},</if>
            <if test="smrRId != null">smr_r_id = #{smrRId},</if>
            <if test="smrBId != null">smr_b_id = #{smrBId},</if>
            <if test="smrValue != null">smr_value = #{smrValue},</if>
        </trim>
        where smr_id = #{smrId}
    </update>

    <delete id="deleteJmrRyStudentMatchResultById" parameterType="Long">
        delete from jmr_student_match_result where smr_id = #{smrId}
    </delete>

    <delete id="deleteJmrRyStudentMatchResultByIds" parameterType="String">
        delete from jmr_student_match_result where smr_id in 
        <foreach item="smrId" collection="array" open="(" separator="," close=")">
            #{smrId}
        </foreach>
    </delete>

</mapper>