<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('匹配信息查询列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>简历匹配结果id：</label>
                                <input type="text" name="smrId"/>
                            </li>
                            <li>
                                <label>企业id：</label>
                                <input type="text" name="smrCId"/>
                            </li>
                            <li>
                                <label>岗位id：</label>
                                <input type="text" name="smrJId"/>
                            </li>
                            <li>
                                <label>学生id：</label>
                                <input type="text" name="smrSId"/>
                            </li>
                            <li>
                                <label>简历id：</label>
                                <input type="text" name="smrRId"/>
                            </li>
                            <li>
                                <label>匹配数据表id：</label>
                                <input type="text" name="smrBId"/>
                            </li>
                            <li>
                                <label>匹配数值：</label>
                                <input type="text" name="smrValue"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="job:resultJob:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="job:resultJob:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="job:resultJob:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="job:resultJob:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('job:resultJob:edit')}]];
        var removeFlag = [[${@permission.hasPermi('job:resultJob:remove')}]];
        var prefix = ctx + "job/resultJob";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "匹配信息查询",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'smrId',
                    title: '简历匹配结果id',
                    visible: false
                },
                {
                    field: 'smrCId',
                    title: '企业id'
                },
                {
                    field: 'smrJId',
                    title: '岗位id'
                },
                {
                    field: 'smrSId',
                    title: '学生id'
                },
                {
                    field: 'smrRId',
                    title: '简历id'
                },
                {
                    field: 'smrBId',
                    title: '匹配数据表id'
                },
                {
                    field: 'smrValue',
                    title: '匹配数值'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.smrId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.smrId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>