<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.enterprise.mapper.JmrJobMapper">
    
    <resultMap type="JmrJob" id="JmrJobResult">
        <result property="jId"    column="j_id"    />
        <result property="jPoId"    column="j_po_id"    />
        <result property="jSex"    column="j_sex"    />
        <result property="jEHistory"    column="j_e_history"    />
        <result property="jCLevel"    column="j_c_level"    />
        <result property="jFLanguage"    column="j_f_language"    />
        <result property="jPrId"    column="j_pr_id"    />
        <result property="jSRange"    column="j_s_range"    />
        <result property="jECity"    column="j_e_city"    />
        <result property="jPRequire"    column="j_p_require"    />
        <result property="jWelfare"    column="j_welfare"    />
        <result property="jNeedNumber"    column="j_need_number"    />
        <result property="jRemark"    column="j_remark"    />
        <result property="jExpire"    column="j_expire"    />
        <result property="jCId"    column="j_c_id"    />

        <association property="jmrCompany" javaType="JmrCompany">
            <id property="cId" column="c_id"></id>
            <result property="cName"    column="c_name"    />
            <result property="cPassword"    column="c_password"    />
            <result property="cSCode"    column="c_s_code"    />
            <result property="cDescription"    column="c_description"    />
            <result property="cContact"    column="c_contact"    />
            <result property="cTelephone"    column="c_telephone"    />
            <result property="cEmail"    column="c_email"    />
        </association>

        <association property="jmrPosition" javaType="JmrPosition">
             <id property="pId"    column="p_id"></id>
             <result property="pName"    column="p_name"    />
        </association>

        <association property="jmrProfession" javaType="JmrProfession">
            <id property="pId"    column="p_id"></id>
            <result property="pMClass"    column="p_m_class"    />
            <result property="pSClass"    column="p_s_class"    />
        </association>
    </resultMap>

    <!--<sql id="selectJmrJobVo">-->
        <!--select j_id, j_po_id, j_sex, j_e_history, j_c_level, j_f_language, j_pr_id, j_s_range,-->
         <!--j_e_city, j_p_require, j_welfare, j_need_number, j_remark, j_expire, j_c_id-->
         <!--from jmr_job-->

    <!--</sql>-->

    <!--<sql id="selectJmrJobVo">-->
        <!--select j_id, j_po_id, j_sex, j_e_history, j_c_level, j_f_language, j_pr_id, j_s_range,-->
         <!--j_e_city, j_p_require, j_welfare, j_need_number, j_remark, j_expire, j_c_id-->
         <!--from jmr_job jj-->

    <!--</sql>-->
    <sql id="selectJmrJobVo">
        select jj.j_id, jj.j_po_id, jj.j_sex, jj.j_e_history, jj.j_c_level, jj.j_f_language,
        jj.j_pr_id, jj.j_s_range, jj.j_e_city, jj.j_p_require, jj.j_welfare, jj.j_need_number,
        jj.j_remark, jj.j_expire, jj.j_c_id, jc.c_id, jc.c_name, jc.c_password, jc.c_s_code,
        jc.c_description, jc.c_contact, jc.c_telephone, jc.c_email, jpo.p_id, jpo.p_name,
        jpr.p_id, jpr.p_m_class, jpr.p_s_class
        from jmr_job jj join jmr_company jc on jj.j_c_id = jc.c_id
                         join jmr_position jpo on jj.j_po_id = jpo.p_id
                         join jmr_profession jpr on jj.j_pr_id = jpr.p_id


</sql>

    <!--<sql id="selectJmrJobVo">-->
    <!--select jj.j_id, jj.j_po_id, jj.j_sex, jj.j_e_history, jj.j_c_level, jj.j_f_language,-->
    <!--jj.j_pr_id, jj.j_s_range, jj.j_e_city, jj.j_p_require, jj.j_welfare, jj.j_need_number,-->
    <!--jj.j_remark, jj.j_expire, jj.j_c_id, jc.c_id, jc.c_name, jc.c_password, jc.c_s_code,-->
    <!--jc.c_description, jc.c_contact, jc.c_telephone, jc.c_email from jmr_job jj join jmr_company jc on jj.j_c_id = jc.c_id-->
    <!--</sql>-->
    <select id="selectJmrJobList" parameterType="JmrJob" resultMap="JmrJobResult">
        <include refid="selectJmrJobVo"/>
        <where>
            <if test="jPoId != null "> and jj.j_po_id = #{jPoId}</if>
            <if test="jSex != null "> and jj.j_sex = #{jSex}</if>
            <if test="jEHistory != null "> and jj.j_e_history = #{jEHistory}</if>
            <if test="jCLevel != null "> and jj.j_c_level = #{jCLevel}</if>
            <if test="jFLanguage != null "> and jj.j_f_language = #{jFLanguage}</if>
            <if test="jPrId != null "> and jj.j_pr_id = #{jPrId}</if>
            <if test="jSRange != null "> and jj.j_s_range = #{jSRange}</if>
            <if test="jECity != null "> and jj.j_e_city = #{jECity}</if>
            <if test="jPRequire != null  and jPRequire != ''"> and jj.j_p_require = #{jPRequire}</if>
            <if test="jWelfare != null  and jWelfare != ''"> and jj.j_welfare = #{jWelfare}</if>
            <if test="jNeedNumber != null "> and j_need_number = #{jNeedNumber}</if>
            <if test="jRemark != null  and jRemark != ''"> and jj.j_remark = #{jRemark}</if>
            <if test="jExpire != null  and jExpire != ''"> and jj.j_expire = #{jExpire}</if>
            <if test="jCId != null "> and jj.j_c_id = #{jCId}</if>
        </where>
    </select>

    <select id="selectJmrJobById" parameterType="Long" resultMap="JmrJobResult">
        <include refid="selectJmrJobVo"/>
        where jj.j_id = #{jId}
    </select>

    <!--<select id="selectJmrJobList" parameterType="JmrJob" resultMap="JmrJobResult">-->
        <!--<include refid="selectJmrJobVo"/>-->
        <!--<where>-->
            <!--<if test="jPoId != null "> and j_po_id = #{jPoId}</if>-->
            <!--<if test="jSex != null "> and j_sex = #{jSex}</if>-->
            <!--<if test="jEHistory != null "> and j_e_history = #{jEHistory}</if>-->
            <!--<if test="jCLevel != null "> and j_c_level = #{jCLevel}</if>-->
            <!--<if test="jFLanguage != null "> and j_f_language = #{jFLanguage}</if>-->
            <!--<if test="jPrId != null "> and j_pr_id = #{jPrId}</if>-->
            <!--<if test="jSRange != null "> and j_s_range = #{jSRange}</if>-->
            <!--<if test="jECity != null "> and j_e_city = #{jECity}</if>-->
            <!--<if test="jPRequire != null  and jPRequire != ''"> and j_p_require = #{jPRequire}</if>-->
            <!--<if test="jWelfare != null  and jWelfare != ''"> and j_welfare = #{jWelfare}</if>-->
            <!--<if test="jNeedNumber != null "> and j_need_number = #{jNeedNumber}</if>-->
            <!--<if test="jRemark != null  and jRemark != ''"> and j_remark = #{jRemark}</if>-->
            <!--<if test="jExpire != null  and jExpire != ''"> and j_expire = #{jExpire}</if>-->
            <!--<if test="jCId != null "> and j_c_id = #{jCId}</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--<select id="selectJmrJobById" parameterType="Long" resultMap="JmrJobResult">-->
        <!--<include refid="selectJmrJobVo"/>-->
        <!--where j_id = #{jId}-->
    <!--</select>-->

    <insert id="insertJmrJob" parameterType="JmrJob" useGeneratedKeys="true" keyProperty="jId">
        insert into jmr_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jPoId != null">j_po_id,</if>
            <if test="jSex != null">j_sex,</if>
            <if test="jEHistory != null">j_e_history,</if>
            <if test="jCLevel != null">j_c_level,</if>
            <if test="jFLanguage != null">j_f_language,</if>
            <if test="jPrId != null">j_pr_id,</if>
            <if test="jSRange != null">j_s_range,</if>
            <if test="jECity != null">j_e_city,</if>
            <if test="jPRequire != null and jPRequire != ''">j_p_require,</if>
            <if test="jWelfare != null and jWelfare != ''">j_welfare,</if>
            <if test="jNeedNumber != null">j_need_number,</if>
            <if test="jRemark != null">j_remark,</if>
            <if test="jExpire != null and jExpire != ''">j_expire,</if>
            <if test="jCId != null">j_c_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jPoId != null">#{jPoId},</if>
            <if test="jSex != null">#{jSex},</if>
            <if test="jEHistory != null">#{jEHistory},</if>
            <if test="jCLevel != null">#{jCLevel},</if>
            <if test="jFLanguage != null">#{jFLanguage},</if>
            <if test="jPrId != null">#{jPrId},</if>
            <if test="jSRange != null">#{jSRange},</if>
            <if test="jECity != null">#{jECity},</if>
            <if test="jPRequire != null and jPRequire != ''">#{jPRequire},</if>
            <if test="jWelfare != null and jWelfare != ''">#{jWelfare},</if>
            <if test="jNeedNumber != null">#{jNeedNumber},</if>
            <if test="jRemark != null">#{jRemark},</if>
            <if test="jExpire != null and jExpire != ''">#{jExpire},</if>
            <if test="jCId != null">#{jCId},</if>
         </trim>
    </insert>

    <update id="updateJmrJob" parameterType="JmrJob">
        update jmr_job
        <trim prefix="SET" suffixOverrides=",">
            <if test="jPoId != null">j_po_id = #{jPoId},</if>
            <if test="jSex != null">j_sex = #{jSex},</if>
            <if test="jEHistory != null">j_e_history = #{jEHistory},</if>
            <if test="jCLevel != null">j_c_level = #{jCLevel},</if>
            <if test="jFLanguage != null">j_f_language = #{jFLanguage},</if>
            <if test="jPrId != null">j_pr_id = #{jPrId},</if>
            <if test="jSRange != null">j_s_range = #{jSRange},</if>
            <if test="jECity != null">j_e_city = #{jECity},</if>
            <if test="jPRequire != null and jPRequire != ''">j_p_require = #{jPRequire},</if>
            <if test="jWelfare != null and jWelfare != ''">j_welfare = #{jWelfare},</if>
            <if test="jNeedNumber != null">j_need_number = #{jNeedNumber},</if>
            <if test="jRemark != null">j_remark = #{jRemark},</if>
            <if test="jExpire != null and jExpire != ''">j_expire = #{jExpire},</if>
            <if test="jCId != null">j_c_id = #{jCId},</if>
        </trim>
        where j_id = #{jId}
    </update>

    <delete id="deleteJmrJobById" parameterType="Long">
        delete from jmr_job where j_id = #{jId}
    </delete>

    <delete id="deleteJmrJobByIds" parameterType="String">
        delete from jmr_job where j_id in 
        <foreach item="jId" collection="array" open="(" separator="," close=")">
            #{jId}
        </foreach>
    </delete>

</mapper>