<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--360浏览器优先以webkit内核解析-->
	<title>JMR介绍</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
	<!--<img th:src="@{/img/qiye.png}" width="100%" style="max-width:500px;">-->
</head>

<body class="gray-bg">
<div class="back" >
	<!--<img th:src="@{/img/qiye.png}" width="100%" height="350px"> style="height: 350px;object-fit: fill"-->
	<!--style="height: 350px;object-fit: fill" height= "300px"-->
	<video   id="1" autoplay loop muted >
		<source  width="1290px" height="320px" th:src="@{/video/1234.mp4}" type="video/mp4">
	</video>
</div>
<div class="row  border-bottom white-bg dashboard-header" style="background-color: #F5F5F5;" )>
	<div class="col-sm-11" style="height: 56px;width: 230px;left: 25em">
		<div><img th:src="@{/img/logo.png}" width="60%" height="100%"></div>
	</div>
	<div class="col-sm-12" style="width: 900px">
		<h1 class="text-danger" style="font-style: italic;font-weight:bold;font-size: 50px;text-align: center;color: #2a75d5c9" >人岗匹配管理系统</h1>
		</blockquote>

		<hr>
	</div>
	<div class="col-sm-5" style="width: 200px">
		<img th:src="@{/img/shu1.png}" width="100%" height="350px">
	</div>
	<div class="col-sm-3" style="width: 300px;border-right: 2px solid black;text-indent: 5em">
		<br>
		<br>
		<br>
		<p style="font-style: italic;font-size:18px;font-weight:bold">  环境</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;&nbsp;Jdk:1.8</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;&nbsp;Mysql:5.5or5.7</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;&nbsp;集成开发环境：idea</p>
		<!--<p  >&nbsp;&nbsp;&nbsp;RuoYi快速开发平台：springboot+mybatis+shiro+bootstrap+ajax</p>-->
		<p  style="font-style: italic;font-size:18px;font-weight:bold" >A、学生应聘模块</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;1、学生信息修改</p>
		<p style="font-size: 14px" >&nbsp;&nbsp;2、发布简历</p>
		<p style="font-size: 14px" >&nbsp;&nbsp;3、手动匹配</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;4、定时匹配</p>
		<p  style="font-style: italic;font-size:18px;font-weight:bold">B、企业招聘模块</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;1、企业信息修改</p>
		<p style="font-size: 14px">&nbsp;&nbsp;2、岗位发布</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;3、手动匹配</p>
		<br>
	</div>
	<!--<div class="col-sm-5">-->
		<!--<h2>&nbsp;&nbsp;&nbsp;</h2>-->
        <!--<br>-->
        <!--<br>-->
        <!--&lt;!&ndash;<p  style="font-size:18px;font-weight:bold">B、企业招聘模块</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p  style="font-size: 14px">&nbsp;&nbsp;1、企业信息修改</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p style="font-size: 14px">&nbsp;&nbsp;2、岗位发布</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p  style="font-size: 14px">&nbsp;&nbsp;3、手动匹配</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p style="font-size:18px;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C、就业指导模块</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p style="font-size: 14px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、学生信息查询</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p style="font-size: 14px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、企业信息查询</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p  style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、发布岗位信息查询</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p  style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、匹配信息查询（学生端）</p>&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash;<p style="font-weight: bold" >D、统计分析模块</p>&ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;<p>&nbsp;&nbsp;1、学生方面：按学生性别、院校层次、学历、专业、外语水平、期望薪资范围、期望岗位、就业地分析统计</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p>&nbsp;&nbsp;2、企业方面：按企业岗位、院校层次要求、学历要求、专业要求、外语水平要求、薪资范围、企业性质、福利待遇分析统计</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<p>&nbsp;&nbsp;3、学生与企业要求匹配情况数据分析</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</p>&ndash;&gt;-->
		<!--&lt;!&ndash;<br>&ndash;&gt;-->

	<!--</div>-->
	<div class="col-sm-4" style="width: 550px;text-indent: 5em">
		<br>
		<br>
		<br>
		<p style="font-style: italic;font-size:18px;font-weight:bold">&nbsp;&nbsp;C、就业指导模块</p>
		<p style="font-size: 14px" >&nbsp;&nbsp;1、学生信息查询</p>
		<p style="font-size: 14px" >&nbsp;&nbsp;2、企业信息查询</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;3、发布岗位信息查询</p>
		<p  style="font-size: 14px">&nbsp;&nbsp;4、匹配信息查询（学生端）</p>
        <p style="font-style: italic;font-size:18px;font-weight:bold" >D、统计分析模块</p>
        <p style="font-size: 14px">&nbsp;&nbsp;1、学生方面：按学生性别、院校层次、学历、专业、外语水平等</p>
        <p style="font-size: 14px">&nbsp;&nbsp;2、企业方面：按企业岗位、院校层次要求、学历要求、专业要求等</p>
        <p style="font-size: 14px">&nbsp;&nbsp;3、学生与企业要求匹配情况数据分析</p>
        </p>
		<h4 style="font-style: italic;font-size:18px;font-weight:bold">联系信息</h4>
		<p style="font-size: 14px;text-indent: 2.5em"><i class="fa fa-qq"></i> QQ群：881997146
		</p>
		<p style="font-size: 14px;text-indent: 2.5em"><i class="fa fa-qq"></i> 开发者QQ：1054097910，2451041504，1511174152
		</p>
		<p style="font-size: 14px;text-indent: 2.5em"><i class="fa fa-qq"></i> 前端UI设计者QQ：836649771，2649271820
		</p>
		<p style="font-size: 14px;text-indent: 2.5em"> <i class="fa fa-qq"></i> 数据整理QQ：3387434493，2409943317
		</p>
	</div>
	<div class="col-sm-6" style="width: 200px">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<img th:src="@{/img/shu2.png}" width="100%" height="350px">
	</div>

</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-4">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>人才招聘</h5>

				</div>

				<div class="ibox-content">
					<img th:src="@{/img/qiye.png}" width="100%" style="max-width:500px;">
				<!--	<p><i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip" target="_blank">http://www.ruoyi.vip</a>
					</p>
					<p><i class="fa fa-qq"></i> QQ群：<s>满1389287</s> <s>满1679294</s> <s>满1529866</s> <s>满1772718</s> <s>满1366522</s> <s>满1382251</s> <s>满1145125</s> <s>满86752435</s> <s>满134072510</s> <s>满210336300</s> <a href="https://jq.qq.com/?_wv=1027&k=5omzbKc" target="_blank">339522636</a>
					</p>
					<p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ *若依</a>
					</p>
					<p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>
					</p>-->
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>岗位匹配</h5>
				</div>
				<div class="ibox-content">
				<img th:src="@{/img/jiuye.jpg}" width="357px" height="187px" style="max-width:500px;">
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>良好体验</h5>
				</div>
				<div class="ibox-content">
					<!--<div class="alert alert-warning">-->
						<!--&lt;!&ndash;请作者喝杯咖啡（点击图片放大）&ndash;&gt;-->
					<!--</div>-->
					<!--<p id="pay-qrcode">-->
						<!--<a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">-->
						<!--</a>-->
					<!--</p>-->
					<img th:src="@{/img/jiuye1.jpg}" width="357px" height="187px" style="max-width:500px;">

				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">
    $('#pay-qrcode').click(function(){
        var html=$(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn:false,
            shadeClose:true,
            area: ['600px', 'auto'],
            content: html
        });
    });
</script>
</body>
</html>
